<div class="list-group user-select-none">
    <h3>Categories</h3>
    <a (click)="selectCategory(); reloadAllComponent()"
        [class.active]="displayAll" 
        [routerLink]="['product']" [queryParams]="{ categoryId: 0}"
        queryParamsHandling="merge"
        class="list-group-item list-group-item-action pointer rounded-top">All
        Categories</a>
    <a *ngFor="let item of categories" (click)="selectCategory(item); reloadAllComponent()"
        [class.active]="!displayAll && selectedCategory?.id == item.id"
        [routerLink]="['product']" [queryParams]="{ categoryId: item.id}"
        queryParamsHandling="merge"
        class="list-group-item list-group-item-action active pointer">{{ item.categoryName | titlecase }}</a>
</div>