<div class="list-group user-select-none mb-4">
    <h3>Colors</h3>
    <a (click)="selectColor(); reloadAllComponent()" 
    [class.active]="displayAll" 
    [routerLink]="['product']" [queryParams]="{ colorId: 0}"
    queryParamsHandling="merge"
    class="list-group-item list-group-item-action pointer rounded-top">
    AllColors</a>

    <a *ngFor="let item of colors" (click)="selectColor(item); reloadAllComponent()"
        [class.active]="!displayAll && selectedColor?.id == item.id"
        [routerLink]="['product']" [queryParams]="{ colorId: item.id}"
        queryParamsHandling="merge"
        class="list-group-item list-group-item-action active pointer">{{ item.colorName | titlecase }}</a>
</div>